<h2>Cadastrar livro</h2>

<form action="/register/save" method="POST">
    <div>
        <label for=""><Titulo:/label>
        <input type="text" name ="title" placeholder="DIgiite o títutlo" id="title">
    </div>
    <div>
        <label for="">Número de Páginas</label>
        <input type="number" name="pageqty" placeholder="Quantas páginas o livro possui?" id="pageqty">
    </div>

    <button type="submit">Cadastrar</button>
</form>